<header id="header" class="main-page-header">
    <div class="main-page-header-nav" >
        <img src="./images/nav-left-btn.png" ng-click="toggleClick()">
    </div>
    <div class="main-page-header-title">
        ss
    </div>
    <div class="main-page-header-post">
        ss
    </div>
</header>