<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app" class="main-page">
      <%include header.ejs%>
    </div>
  </body>
</html>
