<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  </head>
  <body>
    <div id="app" class="main-page">
      <div class="main-page-block">
        <%include header.ejs%>
      </div>
    </div>
  </body>
</html>
