<nav id="menu" class="menu slideout-menu">
    <a href="https://github.com/mango/slideout" target="_blank">
        <header class="menu-header">
            <span class="menu-header-title">Slideout.js</span>
        </header>
    </a>

    <section class="menu-section">
        <h3 class="menu-section-title">Docs</h3>
        <ul class="menu-section-list">
            <li><a href="#" target="_blank">Installation</a></li>
            <li><a href="#" target="_blank">Usage</a></li>
            <li><a href="#" target="_blank">API</a></li>
            <li><a href="#" target="_blank">npm-scripts</a></li>
        </ul>
    </section>

    <section class="menu-section">
        <h3 class="menu-section-title">Slideout</h3>
        <ul class="menu-section-list">
            <li><a href="#" target="_blank">Fork it</a></li>
            <li><a href="#" target="_blank">Create an issue</a></li>
            <li><a href="#">Download</a></li>
        </ul>
    </section>

    <section class="menu-section">
        <h3 class="menu-section-title">Mango</h3>
        <ul class="menu-section-list">
            <li><a href="#" target="_blank">About Mango</a></li>
            <li><a href="#" target="_blank">Follow Us</a></li>
        </ul>
    </section>
</nav>