<nav id="menu" class="menu">
    <a>
        <header class="menu-header">
            <!--<span class="menu-header-title">-->
            <!--</span>-->
                <img class="menu-header-icon" ng-src="{{user.headimgurl}}">
                <label class="menu-header-title">{{user.nickname}}</label>
        </header>
    </a>

    <section class="menu-section">
        <!--<h3 class="menu-section-title">Docs</h3>-->
        <ul class="menu-section-list">
            <li><a href="#" target="_blank">全部活动</a></li>
            <li><a href="#" target="_blank">精华</a></li>
            <li><a href="#" target="_blank">我参与的</a></li>
            <li><a href="#" target="_blank">npm-scripts</a></li>
        </ul>
    </section>
</nav>