<nav id="menu" class="menu">
    <a>
        <header class="menu-header">
            <!--<span class="menu-header-title">-->
            <!--</span>-->
                <img class="menu-header-icon" ng-src="{{user.headimgurl}}">
                <label class="menu-header-title">{{user.nickname}}</label>
        </header>
    </a>

    <section class="menu-section">
        <!--<h3 class="menu-section-title">Docs</h3>-->
        <ul class="menu-section-list">
            <li><a ng-click="topics('all')">全部活动</a></li>
            <li><a ng-click="topics('hot')">热门活动</a></li>
            <li><a ng-click="topics('mine')">我发起的</a></li>
            <li><a ng-click="topics('join')">我参与的</a></li>
            <li><a href="/new" target="mainBodyFrame" ng-click="new">npm-scripts</a></li>
        </ul>
    </section>
</nav>