<div ng-app="postApp" ng-controller="postController">
    <div class="post-body-line">
        <input name="title" id="title" type="text">

    </div>
    <textarea rows="35" class="post-body-content" >{{test}}</textarea>
    <button ng-click="aaa">asd</button>
</div>
<script src="/bower_components/angular/angular.min.js"></script>
<script>
    var postApp = angular.module('postApp',[]);
    postApp.controller('postController',function($scope,$http){
        $scope.test = "sss";
    });
</script>