<link rel="stylesheet" href="/stylesheets/topic.css">
<head>
    <title><%=title%></title>
</head>
<body>
    <div ng-app="topicApp" ng-controller="topicController">
        <h2 class="topic-title">{{topic.title}}</h2>
        <section class="topic-author-info">
            <!--<img class="topic-avatar" ng-src="{{topic.author.author_url}}">-->
            <img class="topic-avatar" ng-src="{{topic.author.avator_url}}">
            <div class="topic-col">
                <span>{{topic.author.author_name}}</span>
            </div>
            <!--<div class="topic-right"></div>-->
        </section>

        <section class="topic-content">
            <p>{{topic.content}}</p>
        </section>

        <section>
            <div class="topic-joined-icon">
                <li ng-repeat="user in topic.joined">
                    <img class="topic-avatar" ng-src="{{user.avator_url}}">
                </li>
            </div>
            <div class="topic-join-button">
                <img class="topic-join-button-img" ng-click="joinTopic()">
            </div>
        </section>
    </div>
<script src="/bower_components/angular/angular.min.js"></script>
<script>
    var app = angular.module('topicApp',[]);
    app.controller('topicController', function ($scope, $http) {
        var joined = [];
        $scope.initTopicPage = function () {
            var url = "/topic/"+document.title;
            $http.get(url).success(function (res) {
                if (res.retvalue == true){
                    alert(JSON.stringify(res));
                    $scope.topic = res.topic;
                    joinedusers = res.topic.joined;
                    $scope.joined = res.topic.joined;
                }else{
                    alert("系统错误!");
                }
            });
            //加入活动
            $scope.joinTopic = function () {
                alert("==");
                var url = '/join';
                var data = {
                    topicID : $scope.topic.id,
//                    user : ""
                }
                $http.post(url,data).success(function (res) {
                    if (res.retvalue == true){
                        joined.unshift($scope.topic.author);
                        $scope.$apply(function() {
                            $scope.joined = joined;
                        });
                    }
                });
            }
        }
        $scope.initTopicPage();
    });
</script>
</body>